body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    padding: 24px;
}

main {
    max-width: 760px;
    margin: 0 auto
}

h1 {
    color: #0b5;
}

code {
    background: #f2f2f2;
    padding: 2px 6px;
    border-radius: 4px
}